* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 10px;
  font-family: Arial, sans-serif;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  padding: 0; 
}

ul li {
  margin-right: 10px; 
  padding: 0; 
  flex-direction: column;
}

ul li:not(:last-child)::after {
  content: "|"; 
  margin-left: 10px;  
}

ul li a {
  
  color: black; 
  font-size: 16px; 
}


main {
  margin-top: 20px; 
}

